In [3]:
from peewee import *

## Create simple DB for Shopping Experience

In [4]:
db = SqliteDatabase('market.db')

class BaseModel(Model):
    class Meta:
        database = db

class StoreDB(BaseModel):
    store_id = IntegerField(unique=True) 
    name = CharField()
    store_type = CharField()
    account_id = CharField() # Vendedor
    
class ProductDB(BaseModel):
    product_id = IntegerField(unique=True)
    store = ForeignKeyField(StoreDB, backref='product')
    name = CharField()
    price = FloatField()
    category = CharField()
    
class WarehouseDB(BaseModel):
    store_id = ForeignKeyField(StoreDB, backref='warehouse')
    product_id = ForeignKeyField(ProductDB, backref='warehouse')
    qtd = IntegerField()

In [5]:
#db.init('market.db')
db.connect()
db.create_tables([StoreDB, ProductDB, WarehouseDB])

In [6]:
#store_id name store_type account_id

stores = [(1, 'Jaguar Automóveis',   'Carros',  '00711234533'), 
          (2, 'Tigre Veículos',      'Carros',  '00711234511'),
          (3, 'Onça Tratores',       'Carros',  '00719999999'),
          (4, 'Silver Sports',       'Academia','00711234533'),
          (5, 'Bronze Bros',         'Academia','00719999999'),
          (6, 'Schwarzenegger Sons', 'Academia','00718888888'),
          (7, 'Cruz Vermelha',       'ONG',     '00717777777'),
          (8, 'Teto',                'ONG',     '00716666666')
]

#product_id, store, name, price, category

products = [(1, 1, 'Uno',  20000, 'Carros'),
            (2, 1, 'Argo', 30000, 'Carros'),
            (3, 2, 'Palio',25000, 'Carros'),
            (4, 2, 'Onix', 50000, 'Carros'),
            (5, 3, 'KA+',  24000, 'Carros'),
            (6, 4, 'Cross Fit', 250, 'Academia'),
            (7, 4, 'Mensalidade Academia', 250, 'Academia'),
            (8, 5, 'Mensalidade Academia', 250, 'Academia'),
            (9, 6, 'Mensalidade Academia', 250, 'Academia'),
            (10, 6, 'Treino Funcional', 250, 'Academia'),
            (11, 7, 'Doação', 10, 'Doação'),
            (12, 8, 'Doação', 10, 'Doação')
]

#store_id product_id qtd
warehouse = [(1,  1, 100), 
            (1,  2,  100),
            (2,  3,  100),
            (2,  4,  100),
            (3,  5,  100),
            (4,  6,  100),
            (4,  7,  100),
            (5,  8,  100),
            (6,  9,  100),
            (6, 10, 100),
            (7, 11, 100),
            (8, 12, 100),
            ]

In [7]:
for store in stores:
    s = StoreDB.create(store_id = store[0],
                       name = store[1],
                       store_type = store[2],
                       account_id = store[3])
    s.save()
for product in products:
    p = ProductDB.create(product_id=product[0],store=product[1],
        name=product[2],price=product[3],category=product[4])
    p.save()
for ware in warehouse:
    #store_id product_id qtd
    w = WarehouseDB.create(store_id=ware[0],product_id=ware[1],qtd=ware[2])
    w.save()

In [10]:
for i in ProductDB.select():
    print(i.name)

Uno
Argo
Palio
Onix
KA+
Cross Fit
Mensalidade Academia
Mensalidade Academia
Mensalidade Academia
Treino Funcional
Doação
Doação